#pointer { position: absolute; z-index: 10000; top: 0; left: 0; width: 4px; height: 4px; margin-left: -2px; margin-top: -2px; background: red ;}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
  background-color: #888;
}

.page {
  position: absolute;

  top: 50%;
  left: 50%;
  background: #222;

  box-shadow: 0px 0px 20px #0008;
  transform: translate(-50%,-50%);
}
/*
.page:nth-child(2n+1) {
  border-radius: 3px 0 0 3px;
  padding: 10px 0px 10px 30px;
  box-shadow: -10px 0px 10px #0008;
  transform: translate(-100%,-50%);
}
.page:nth-child(2n) {
  border-radius: 0 3px 3px 0;
  padding: 10px 30px 10px 0px;
  box-shadow: 10px 0px 10px #0008;
  transform: translate(0%,-50%);
}
*/

.page:before {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 15.5px;
}
/*
.page:nth-child(2n+1):before {
  left: 15px;
  background-image: linear-gradient(-90deg, #fffd, #fffa),
    repeating-linear-gradient(90deg, #fff, #fff 2px, #444 2px, #444 2.5px);
  clip-path: polygon(0% 1%, 100% 0%, 100% 100%, 0% 99%);
}
.page:nth-child(2n):before {
  right: 15px;
  background-image: linear-gradient(90deg, #fffd, #fffa),
    repeating-linear-gradient(-90deg, #fff, #fff 2px, #444 2px, #444 2.5px);
  clip-path: polygon(0% 0%, 100% 1%, 100% 99%, 0% 100%);
}
.page:nth-child(2n+1):after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -3px;
  bottom: -3px;
  right: -15px;
  width: 30px;
  background-color: #222;
  border-radius: 3px;
  box-shadow: 0 0 20px .0004;
}
*/
.greatparent {
  position: relative;
  /*overflow: hidden;*/
}

.parent {
  position: absolute;
  background-color: #0f04;
}

.background {
  position: absolute;
  background-color: #fff;
}
/*
.page:nth-child(2n+1) .background {
  background-image: linear-gradient(90deg, #0000 60%, #0001 95%, #0002 100%);
}
.page:nth-child(2n) .background {
  background-image: linear-gradient(-90deg, #0000 60%, #0001 95%, #0002 100%);
}
*/

.aperture {
  position: absolute;
  box-sizing: border-box;
}

.aperture>* {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.aperture.text {
  overflow: hidden;

  font-family: helvetica;
  font-weight: 200;
  font-size: 0.8em;
  color: #444;

  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px dashed #4448;
}

.aperture.text .container {
  text-align: center;
  flex-grow: 1;
}
.aperture.text p {
  margin: 0;
}

.aperture.photo {
  overflow: hidden;
}

.aperture.photo img {
  position: absolute;
}
/*
.aperture:hover::before {
  content: '';
  position: absolute;
  z-index: 1;

  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  border: 5px solid #0d08;
}*/
/*
.aperture:hover {
  box-shadow: 0 0 20px #0d0;
  outline: 2px solid #0d08;
}
*/
.aperture:hover::before {
  opacity: 0;
  content: '';
  position: absolute;
  z-index: 1;

  width: 100px;
  height: 100px;
  box-sizing: border-box;

  background: #0d08;
  border-radius: 100px;

  transform: translate(-50%, -50%);
}

html.drag .aperture:hover::before {
  opacity: 1;
  top: 50%;
  left: 50%;
}

html.resize-top .aperture:hover::before {
  opacity: 1;
  top: 0%;
  left: 50%;
}

html.resize-left .aperture:hover::before {
  opacity: 1;
  top: 50%;
  left: 0%;
}

html.resize-bottom .aperture:hover::before {
  opacity: 1;
  top: 100%;
  left: 50%;
}

html.resize-right .aperture:hover::before {
  opacity: 1;
  top: 50%;
  left: 100%;
}

html.resize-top-left .aperture:hover::before {
  opacity: 1;
  top: 0%;
  left: 0%;
}

html.resize-top-right .aperture:hover::before {
  opacity: 1;
  top: 0%;
  left: 100%;
}

html.resize-bottom-left .aperture:hover::before {
  opacity: 1;
  top: 100%;
  left: 0%;
}

html.resize-bottom-right .aperture:hover::before {
  opacity: 1;
  top: 100%;
  left: 100%;
}


