.interact-selection {
  box-sizing: border-box;
  position: absolute;
  background: rgba(0, 255, 0, .25);
  border: 2px solid #0f0;
  cursor: move;
}

.interact-anchor {
  z-index: 2;
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #0f0;
  border-radius: 15px;
  background: #fff;
  transform: translate(-50%, -50%);

  cursor: move !important;
}

.interact-anchor.resize.top { top: 0%; left: 50%; cursor: ns-resize; }
.interact-anchor.resize.left { top: 50%; left: 0%; cursor: ew-resize; }
.interact-anchor.resize.right { top: 50%; left: 100%; cursor: ew-resize; }
.interact-anchor.resize.bottom { top: 100%; left: 50%; cursor: ns-resize; }

.interact-anchor.resize.top.left { top: 0%; left: 0%; cursor: nwse-resize; }
.interact-anchor.resize.top.right { top: 0%; left: 100%; cursor: nesw-resize; }
.interact-anchor.resize.bottom.left { top: 100%; left: 0%; cursor: nesw-resize; }
.interact-anchor.resize.bottom.right { top: 100%; left: 100%; cursor: nwse-resize; }

.interact-anchor.rotate {
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -30px; left: 50%; cursor: move;
  background-color: #0f0;
}

.interact-anchor.rotate::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left:-1px;
  width: 2px;
  height: 20px;
  background-color: #0f0;
}


.interact-pivot {
  content: '';
  z-index: 3;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: transparent;
  border: 1px solid #0f0;
  border-radius: 5px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

